<img src="assets/logo.png">

<section *ngIf="article && article.creator">
    <h1><label>Course Name</label>{{article.courseName}}</h1>
    <div *ngIf="allowEdit">
        <a [routerLink]="['/articles', article._id, 'edit']"><h3>edit</h3> </a>
        <button (click)="delete()"><h3>delete</h3> </button>
    </div> 
    <br />
    <h4>
        <em>
            
                Posted on
             {{article.created}} by {{
article.creator.
fullName  
                }}
</em>
    </h4>
    <h3><label>Course Code </label>{{article.code}}</h3>
</section>

<div>
    <a [routerLink]="['articles/
create']">create one course</a>
</div>
