<!DOCTYPE html>
<html>
<head>
	
	<title>Simple Game Survey App</title>
</head>
<body>
    <a href="/surveys">Add Survey</a>
    <br>
    <a href="/list_surveys">List Surveys</a><br>
    <a href="/update_survey">Update </a><br>
    <a href="/delete_survey">Delete </a>


</body>
</html>
