<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/update_survey" method="post">
        <div>
            <label>Survey ID:</label>
            <input type="text" name="surveyId" />
        </div>
        <div>
            <label>Game Genre:</label>
            <input type="text" name="gameGenre" />
        </div>
        <div>
            <label>Days Per Year:</label>
            <input type="text" name="daysPerYear" />
        </div>
        <div>
            <label>Age:</label>
            <input type="text" name="age" />
        </div>
        <div>
            <input type="submit" value="Update Survey" />
        </div>
    </form>
</body>
</html>